body {
  background: linear-gradient(to bottom right, #393c42, #dcd0ff);
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column; 
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}
 #city {
  text-align: center;
 }

 
.weather-app {
  background-color: #31314b;
  color: white;
  padding: 10px;
  border-radius: 20px;
  width: 300px;
  text-align: center;
}

.search-bar {
  display: flex;
  margin-bottom: 20px;
}

.search-bar input {
  flex: 1;
  padding: 10px;
  border: none;
  border-radius: 10px 0 0 10px;
}

.search-bar button {
  padding: 10px;
  border: none;
  background-color: #4d4ddb;
  color: white;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.weather-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
}

.weather-app-icon {
  width: 100%;
  height: 88px;
}
.description strong {
  color: #e6a1a1;
  font-size: 18px;
}
#forecast{
display: flex;
justify-content: space-around;
gap: 30px;
margin-top: 30px;

}
.weather-forecast-day {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.weather-forecast-icon{
width: 88px;
}

.weather-forecast-date {
 text-align: center;

}
 .weather-forecast-temperatures {
  color:rgba(230, 81, 81, 0.952);
  justify-content: center;

 }
.temperature {
  font-size: 36px;
}

.condition {
  font-size: 18px;
  color: #7e4747;
}


 